APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
BASE_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_DEFAULT_EMAIL=contacto@email.com
MAIL_DEFAULT_NAME=Contacto desde Pagina Web

MAIL_CONTACT_EMAIL=receptor@email.com
MAIL_CONTACT_NAME=Receptor de Contactos WEB