$headerBackGroundColor: #0077CB;
$headerFontColor: #F2F2F3;
$headerLinkColor: #F2F2F3;
$headerLinkHoverColor: white;
$headerLinkHoverBackGroundColor: #0064B1;
$blurbColor: #969696;
$blurbBorderStyle: solid;
$blurbBorderColor: #969696;
$blurbBorderWidth: 0.2em;
$footerColor: #B6B9BC;
$footerColorBorder: #313131;
$alertLink: white;
$alertClose: black;
$alertSuccessBorder: #008D4C;
$alertSuccessBackGround: #00A757;
$alertErrorBackGround: #DD4B39;
$alertErrorBorder: #D73925;
$alertWarningBorder: #E08E0B;
$alertWarningBackGround: #F59D00;
$alertInfoBorder: #00ACD6;
$alertInfoBackGround: #00BFF1;

$colorOrange: #FF8000;
$colorPink: #ED4B99;
$colorPurple: #9A80CE;
$colorRed: #ED583A;
$colorGreen: #8EC535;
$colorGrey: #86898C;
$colorCyan: #18CDFF;
$colorGreyLight: #F9F9FA;
$colorGreyDark: #595C5F;
$colorGreyDarker: #454545;
$colorBlue: #0077CB;
$colorLightBlue: #00AFE5;
$colorTiffanyBlue: #00ADB5;
$colorWhite: white;
$colorBlack: black;